.Header{
    height: 100vh;
    width: 295px;
    background-color: #2085BD;
}

.HeaderUp{
    padding: 8px;
    display: flex;
    width: 100%;
    background-color: #145071;
}

.HeaderUp h1{
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 15px;
}

.navLink{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.navLink > a{
    width: 100%;
    text-decoration: none;
    background-color: #71C0EC;
    padding: 16px;
    color: white;
    border-radius: 15px;
}