.App{
    background-color: #8CCBE6;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 25;
}

.profileContainer{
    z-index: 2;
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 100vh;
    width: 80%;
    padding-top: 55px;
}

.bubble{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    background: url('Buble.svg');
    background-size: 100%;
    width: 100%;
}

.profileContainer > h1{
    font-size: 42px;
    margin-bottom: 55px;
    color: #fff;
}

.containerDown{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px;
    width: 95%;
    min-height: 500px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #2085BD;
}

.infoInp{
    padding: 0px 45px;
    width: 80%;
    margin-bottom: 20px;
}

.infoInp > h1{
    color: white;
}

.infoInp > input{
    border: none;
    outline: none;
    width: 100%;
    padding: 16px;
    border-radius: 15px;
    background-color: #D0EEFF;
    margin-bottom: 15px;
}

.infoInp > textarea {
    border: none;
    outline: none;
    width: 100%;
    min-height: 350px;
    padding: 16px;
    border-radius: 15px;
    background-color: #D0EEFF;
    margin-bottom: 15px;
}

@media(max-width: 1600px){
    .profileContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}