.main {
    background-color: #78B9DE;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    margin: 15px;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: .2s;
}
.main:hover {
    opacity: .8;
}
.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.photo__img{
    width: 150px;
    height: 150px;
    justify-self: center;
    align-self: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.star {
    vertical-align: center;
    width: 20px;
    height: 20px;
}

.info__name {
    font-size: 25px;
    color: #145071;
    font-weight: bold;
    text-align: center;
}
.info__rating {
    font-size: 20px;
    color: #145071;
    font-weight: bold;
    text-align: center;
}

.info__adress {
    text-align: center;
    font-size: 20px;
    color: #145071;
    font-weight: bold;
}

.btn{
    border: none;
    cursor: pointer;
    width: 80%;
    background-color: #71C0EC;
    color: #FFFFFF;
    padding: 16px 0px;
    font-weight: bold;
    font-size: 20px;
    background: #71C0EC;
    box-shadow: 0px 4px 39px 4px #71C0EC;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    margin-top: 20px;
}

.btn:hover{
    opacity: 0.8;
}